<div class='user_update'>
    <h1>UPDATE LOGO</h1>
    <p>Update the logo shown at the bottom of the gallery and in control panel</p>
    <br/>
    <%= f.file_field :logo %>
    <br/>
    <br/>
</div>