<div class="row manage_panel">
	<div class="span3 sessions_list animated slideInLeft no-print">
        <p>Your Sessions</p>
		<ul>
			<% @albums.active.each do |album| %>
				<li>
					<%= link_to album.title,
					update_view_user_path(current_user, :album_id => album.id),
					:remote => true %>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="span6 sessions_stats  no-print">
		<span class="session_name"></span>
		<span class="session_numbers"></span>
		<span class="session_options"></span>
	</div>
  <!--TODO: The button should be to the right of the options-->
    <!--<div class="span4 offset8">-->
      <!--<span class="session_destroy"></span>-->
    <!--</div>-->
	<div class="span3 session_reports"></div>
</div>