<div class='user_update'>
    <h1>UPDATE PASSWORD</h1>
    <br/>
      <h4>NEW PASSWORD</h4>
      <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false, :label => false %>
      <h4>PASSWORD CONFIRMATION</h4>
      <%= f.input :password_confirmation, :required => false, :label => false %>
      <h4>CURRENT PASSWORD (REQUIRED)</h4>
      <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true, :label => false %>
    <br/>
    <br/>
</div>