<div class="session_start">
  <h1>All Done!</h1>
</div>
<p class='session_start'>
  You’re all set to start your first session, lets see how easy this is. 
</p>
<div class="session_start">
    <%= link_to("Lets get started!", new_album_path, {class: 'btn'}) %>
</div>
<%= render 'layouts/progress_circles', number: 6, active: 6 %>