<div class="row">
	<div class="span2">
		<div class="title_holder">
			<span class="title animated bounceIn">TOTAL VIEWS</span>
		</div>
			<div class="blue_ball animated pulse">
				<span class="count"><%= @album.impressions.count %></span>
			</div>
	</div>
	<div class="span2">
		<div class="title_holder">
			<span class="title animated bounceIn">UNIQUE VIEWS</span>
		</div>
			<div class="blue_ball animated pulse">
				<span class="count"><%= @album.impressions_count || 0 %></span>
			</div>
	</div>
	<div class="span2">
		<div class="title_holder">
			<span class="title animated pulse">TOTAL RAVES</span>
		</div>
			<div class="blue_ball animated pulse">
				<span class="count"><%= @count %></span>
			</div>
	</div>
</div>