<div class="span3 reports_list animated slideInRight  no-print">
	<h3>REPORTS</h3>
	<% if @album.guests.count > 0 %>
        <ul>
            <% @album.guests.each do |guest| %>
                <li><%= link_to guest.name, guest_path(guest, album_id: @album) %></li>
            <% end %>
        </ul>
	<% else %>
	    <h5>NO REPORTS</h5>
	<% end %>
</div>

<% @album.guests.each do |guest| %>
	<%= render 'manage/reports_modal', :guest => Guest.find_by(name: guest.name)  %>
<% end %>