<% if @album.photos.blank? %>
      <h3>Sorry, no photos available at this time.</h3>
<% else %>
    <!--<div id='main'>-->
      <ul id='tiles'>
          <% for photo in @album.photos %>
            <li class="image_container item">
                <a href="<%= photo.photo.url %>" class="photo" rel="lightbox" title=<%= photo.file_name %>>
                    <%= image_tag(photo.photo.url(:original), class: 'image') %>
                </a>
                <div class='fave_options animated flipInX'>
                    <%= render partial: 'photos/fave_options', locals: {photo: photo} %>
                </div>
            </li>
          <% end %>
      </ul>
    <!--</div>-->
<% end %>

<!-- Once the page is loaded, initalize the plug-in. -->
<script type="text/javascript">
(function ($){
  // Get a reference to your grid items.
  var handler = $('#tiles li');

  // Init lightbox
  $('a.photo', handler).colorbox({
    rel: 'lightbox'
  });

  // Call the layout function after all images have loaded
  $('#tiles').imagesLoaded(function() {
    handler.wookmark(options);
  });
})(jQuery);
</script>