<div class="session_start">
  <h1>UPLOAD NEW SESSION</h1>
</div>
<% if current_user.admin? %>
    <%= render 'form' %>
<%else %>
    <%= render("#{current_user.best_role}_form" || 'form') %>
<% end %>
<%= render 'form_scripts' %>