<div class="session_start">
  <%= image_tag('upload_cloud.png') %>
  <h1>NEW SESSION</h1>
</div>

<% if current_user.admin? %>
    <%= render 'form' %>
<%elsif current_user.active?%>
    <%# render('silver_form') %>
    <%= render 'form' %>
<% end %>