<div class="session_start">
    <h1>UNAUTHORIZED</h1>
</div>
<div class="session_start">
    <h4>
      The password provided was incorrect.
      <%= link_to "Try again here", request.url %>
    </h4>
</div>