<% faves ||= true if faves.nil? %>
<% if current_guest and faves %>
    <div class="fave_controls <%= photo.id %> animated">
      <% if current_guest %>
        <% if current_guest.following?(photo) %>
            <%= render 'photos/defave', :photo => photo %>
        <% else %>
            <%= render 'photos/fave', :photo => photo %>
        <% end %>
      <% end %>
    </div>
<% end %>
