// ============= COLORS =================

$red: #ff3300; //rgb(199,70,61);
$blue: rgb(123,186,179);
$black: rgb(24,25,23);
$grey: rgb(50,52,51);
$white: #ffffff;
$lightGrey: #606060;


a.btn {
  margin-right: 1px;
  line-height: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  width: 75px;
  color: $red;
}

.session_start{
    color: $white;
	text-align: center;
	margin-bottom: 50px;
	h1{
	  margin-bottom: 80px;
      font-family: GothamThin;
	}
}

.session_start img{
  height: 90px;
}

.inline-help{
  color: $blue;
}
.extra_options{
	width: 500px;
	margin: 0px auto;
	text-align: left;
	h3{
		font-family: GothamThin;
	}
	.bold{font-family: GothamMedium;}
}

.options_box{
	width: 410px;
	margin: 0px auto;
	text-align: left;
	h3{
		font-size: 14px;
	}
}

//* { margin: 0; padding: 0; }

#photos {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;

}
#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.extras_container{
	float: left;
	width: 70px;
	.grey_ball{
		background: $lightGrey;
		color: $white;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		text-align: center;
		padding: 10px;
		margin-left: 10px;
		margin-top: -20px;
		opacity: .5;
	}

	//.fave_heart{
	//	margin-top: 30px;
	//	margin-left: 10px;
	//	margin-bottom: 20px;
	//}
}

.image_container{
	//position: relative;
	//width: 200px;
    //padding: 12px;
	.fave_controls{
        opacity: 0;  filter: alpha(opacity=0);
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all 1s ease;
		position: absolute;
		bottom: 65px;
		//width: 0;
		height: 0;
		//border-bottom: 90px solid $red;
		//border-right: 90px solid transparent;
		color: $white;
		cursor: pointer;

        .fave_corner{
          position: relative;
          bottom: 1.5px;
              img{
                width: 150%;
              }
              //margin-top: 30px;
              //margin-left: 10px;
              //margin-bottom: 20px;
              p{
                  //margin: -20px 20px 0px 0px;
                  a{
                      color: $white;
                      text-decoration: none;
                  }
              }
        }
		.fave_heart{
            img{
              padding-left: 13px;
              padding-top: 40px;
            }
            //margin-top: 30px;
            //margin-left: 10px;
            //margin-bottom: 20px;
			p{
				//margin: -20px 20px 0px 0px;
				a{
					color: $white;
					text-decoration: none;
				}
			}
		}
	}
    //.fave_controls:hover{
    //  opacity: 1;  filter: alpha(opacity=100);
    //  -webkit-transform: rotateY(360deg);
    //  -moz-transform: rotateY(360deg);
    //  -o-transform: rotateY(360deg);
    //  transform: rotateY(360deg);
    //}
    .fave_controls.visible{
      display: block;
      opacity: 1;  filter: alpha(opacity=100);
    }
    .fave_controls.hover{
      display: block;
      opacity: 1;  filter: alpha(opacity=100);
      -webkit-transform: rotateY(360deg);
      -moz-transform: rotateY(360deg);
      -o-transform: rotateY(360deg);
      transform: rotateY(360deg);
    }


	//.fave_controls:hover{
	//	border-bottom: 90px solid $red;
	//	border-right: 90px solid transparent;
	//}
	.fave_count{
		position: absolute;
		bottom: 15px;
		right: 15px;
		background: #000;
		width: 35px;
		height: 35px;
		border-radius: 50%;
        opacity: 0.75;
		font-size: 15px;
		p{
            text-align: center;
            font-size: x-large;
			margin-top: 10px;
            color: white;
            font-family: 'GothamMedium';
		}
	}
    .image_zoom{
      opacity: 0;  filter: alpha(opacity=0);
      -webkit-transition: opacity .5s ease;
      -moz-transition: opacity .5s ease;
      -o-transition: opacity .5s ease;
      transition: opacity 1s ease;
      width: 20px;
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 25px;
    }
    .image_zoom.hover{
      opacity: 1;  filter: alpha(opacity=100);
    }
    .image_zoom.visible{
      display: block;
      opacity: 1;  filter: alpha(opacity=100);
    }
}

.fancybox-title {
  .fave_controls{
        opacity: 0;  filter: alpha(opacity=0);
        -webkit-transition: opacity .5s ease;
        -moz-transition: opacity .5s ease;
        -o-transition: opacity .5s ease;
        transition: opacity .5s ease;
		position: absolute;
        bottom: 112px;
		width: 30;
		height: 0;
		color: $white;
		cursor: pointer;
		.fave_corner{
            img{
              width: 150%;
            }
			p{
				//margin: -20px 20px 0px 0px;
				a{
					color: $white;
					text-decoration: none;
				}
			}
		}
        .fave_corner:hover{
          opacity: 1;  filter: alpha(opacity=100);
        }
	}
  .fave_controls:hover{
    opacity: 1;  filter: alpha(opacity=100);
  }
  .fave_controls.visible{
    display: block;
    opacity: 1;  filter: alpha(opacity=100);
  }
  .fave_controls.hover{
    display: block;
    opacity: 1;  filter: alpha(opacity=100);
  }
  .fave_count{
    position: absolute;
    bottom: 55px;
    right: 15px;
    background: #000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    opacity: 0.75;
    font-size: 15px;
    p{
      text-align: center;
      font-size: x-large;
      margin-top: 2px;
      color: white;
      font-family: 'GothamMedium';
    }
  }
}

@media(min-width: 760px){
 .image_container:hover {
    .fave_controls {
      opacity: 1;  filter: alpha(opacity=100);
      -webkit-transform: rotateY(360deg);
      -moz-transform: rotateY(360deg);
      -o-transform: rotateY(360deg);
      transform: rotateY(360deg);
    }
    .image_zoom{
      opacity: 1; filter: alpha(opacity=100);
    }
 }
}


.social{
  float: right;
  font-size: 13px;
  .info{
    position: relative;
    top: 3px;
  }
  //@media (max-width: 768){
  //  font-size: 12pt;
  //}
  img{
    width: 20px;
    padding: 5px;
  }
}

.welcome_screen{
	text-align: center;
	opacity: .85;
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 99;
	.welcome_text{
		margin-top: 200px;
	}
	.beautiful_people a{
		color: #fff;
	}
}

.complete{
  padding: 20px;
  font-family: 'GothamMedium';
  font-size: 24pt;
}