span.album_title{
    color: white;
    padding-top: 8px;
    font-size: 18pt;
    padding-left: 60px;
}

body.display{
    padding-top: 0px;
    margin-top: 0px;
}

.fave_options{
    display: none;
    z-index: 1000;
}

li.image_container:hover .fave_options{
    display: block;
}

.faves_saves{
    padding-top: 5px;
    font-size: 18pt;
}