// ============= COLORS =================

$red: rgb(199,70,61);
$blue: rgb(123,186,179);
$black: rgb(24,25,23);
$grey: rgb(50,52,51);
$white: #ffffff;
$lightGrey: #606060;


a.btn {
  margin-right: 1px;
  line-height: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  width: 75px;
  color: red;
}

.session_start{
    color: $white;
	text-align: center;
	margin-bottom: 50px;
	h1{
	  margin-bottom: 80px;
      font-family: GothamThin;
	}
}

.session_start img{
  height: 90px;
}

.inline-help{
  color: $blue;
}
.extra_options{
	width: 500px;
	margin: 0px auto;
	text-align: left;
	h3{
		font-family: GothamThin;
	}
	.bold{font-family: GothamMedium;}
}

.options_box{
	width: 410px;
	margin: 0px auto;
	text-align: left;
	h3{
		font-size: 14px;
	}
}

//* { margin: 0; padding: 0; }

#photos {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;

}
#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.extras_container{
	float: left;
	width: 70px;
	.grey_ball{
		background: $lightGrey;
		color: $white;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		text-align: center;
		padding: 10px;
		margin-left: 10px;
		margin-top: -20px;
		opacity: .5;
	}

	//.fave_heart{
	//	margin-top: 30px;
	//	margin-left: 10px;
	//	margin-bottom: 20px;
	//}
}

.image_container{
	//position: relative;
	//width: 200px;
    //padding: 12px;
	.fave_controls{
		position: absolute;
		bottom: 0px;
		width: 0;
		height: 0; 
		border-bottom: 35px solid $red;
		border-right: 35px solid transparent;
		color: $white;
		cursor: pointer;
		.fave_heart{
            img{
              padding-left: 3px;
            }
            //margin-top: 30px;
            //margin-left: 10px;
            //margin-bottom: 20px;
			p{
				//margin: -20px 20px 0px 0px;
				a{
					color: $white;
					text-decoration: none;
				}
			}
		}
	}
	.fave_controls:hover{
		border-bottom: 35px solid $grey; 
		border-right: 35px solid transparent;
	}
	.fave_count{
		position: absolute;
		bottom: 15px;
		right: 15px;
		background: #000;
		width: 35px;
		height: 35px;
		border-radius: 50%;
        opacity: 0.75;
		font-size: 15px;
		p{
			margin-top: 10px;
            padding-left: 12px;
            color: white;
            font-family: 'GothamMedium';
		}
	}
}

.fancybox-title {
  .fave_controls{
		position: absolute;
		bottom: 50px;
		width: 30;
		height: 0;
		border-bottom: 50px solid transparent; // Should be red
		border-right: 50px solid transparent;
		color: $white;
		cursor: pointer;
		.fave_heart{
            img{
              padding-left: 10px;
            }
            //margin-top: 30px;
            //margin-left: 10px;
            //margin-bottom: 20px;
			p{
				//margin: -20px 20px 0px 0px;
				a{
					color: $white;
					text-decoration: none;
				}
			}
		}
	}
	.fave_controls:hover{
		border-bottom: 50px solid transparent;
		border-right: 50px solid transparent;
	}
	.fave_count{
		position: absolute;
		bottom: 65px;
		right: 15px;
		background: #000;
		width: 35px;
		height: 35px;
		border-radius: 50%;
        opacity: 0.75;
		font-size: 15px;
		p{
			margin-top: 10px;
            padding-left: 12px;
            color: white;
            font-family: 'GothamMedium';
		}
	}
}

.social{
  float: right;
  font-size: medium;
}

.welcome_screen{
	text-align: center;
	opacity: .85;
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 99;
	.welcome_text{
		margin-top: 200px;
	}
	.beautiful_people a{
		color: #fff;
	}
}