/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require bootstrap-switch
 *= require bootstrap.min
 *= require bootstrap-responsive.min
 *= require dropzone
 *= require jquery.fileupload-ui
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 *= require_tree .
*/

// ============= COLORS =================

$red: #ff3300; // rgb(199,70,61);
$blue: rgb(123,186,179);
$black: rgb(24,25,23);
$grey: rgb(50,52,51);
$white: #ffffff;

.hide{
	display:none;
}

.caps{
	text-transform: uppercase;
}

.big_button{
	width: 400px !important;
	height: 40px !important;
}

.top5{
    position: relative;
    top: -7px;
	background: #ccc;
	font-size: 15px;
	padding: 10px;
    color: $red;
    font-family: GothamMedium;
}

.collapser{
	padding: 10px 20px 0px 10px;
	cursor: pointer;
	.text{
		margin-top: 10px;
	}
}

.red_font{
	color: $red;
}

.big{
	font-size: 30px;
}

.nav_link_top{
	padding-top: 6px;
	font-size: 15px;
	list-style-type: none;
    height: 45px;
}

.nav_link_bot{
	height:35px;	
	padding-top: 15px;
	text-align: center;
	font-size: 15px;
	list-style-type: none;
}

.nav_link_bot a:hover{
	background: $blue !important;
}

.plus_btn{
	font-size: 40px;
	height: 45px !important;
	padding-top: 6px;
}

.info_btn{
	font-size: 16px;
}

.nav_link_top:hover{
	background: $grey !important;
}

.move_down{
	padding-top: 5px;
}

.dark{
	background: $grey;
	margin-right: 2px;
	width: 120px;
}

.blue_ball{
	height: 80px;
	width: 80px;
	background: $blue;
	color: $white;
	border-radius: 50%;
	text-align: center;
	font-size: 24px;
  .count{
    position: relative;
    top: 30px;
  }
}