body{
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.nav_img{
  height: 50px;
  width: 200px;
}
.faves_saves{
    padding-top: 9px;
    padding-right: 25px;
    font-size: 18pt;
    float: right;
    .heart{
      padding-right: 25px;
    }
}

.album_title{
    color: white;
    position: relative;
    bottom: -3px;
    font-size: 14pt;
    padding-left: 60px;
  }

@media(max-width: 768px){
  .navbar-fixed-bottom{
    .album_title{
      display:none;
    }

  }
  .faves_saves{
    font-size: 0pt;
    img{
      padding: 5px;
    }
  }

}
