$red: rgb(250, 35, 7);
$blue: rgb(123,186,179);
$black: rgb(24,25,23);
$grey: rgb(50,52,51);
$green: rgb(72,199,61);
$lightGrey: #606060;
$white: #ffffff;

body.save input[type=text]{
  color: $white;
}

body.guests .session_start{
    color: $white;
	text-align: center;
	margin-bottom: 50px;
	h1{
	  margin-bottom: 80px;
      font-family: GothamThin;
	}
    input{
      color: $black;
    }
}

@media(min-width: 980px){
  body.guests.show{
    padding-top: 50px;
  }
}

.report_image_box{
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  .image_title{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .grey_ball{
      display: inline-block;
      width: 70px;
      background: $lightGrey;
      color: $white;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      text-align: center;
      padding: 10px;
      margin-left: 10px;
      opacity: .5;
  }
  .raves{
    color: $red;
    font-family: GothamMedium;
    font-size: large;
  }
  .side_raves{
    display: inline;
    font-family: GothamMedium;
    font-size: large;
  }
}