// ============= COLORS =================

$red: #ff3300; //rgb(250, 35, 7);
$blue: rgb(123,186,179);
$black: rgb(24,25,23);
$grey: rgb(50,52,51);
$green: rgb(72,199,61);
$lightGrey: #606060;
$white: #ffffff;

@font-face {
  font-family: 'GothamMedium';
  src:url('gotham/Bold.otf');
  font-weight: normal;
  font-style: normal;
}

body.home{
  background-color: white;
  font-family: 'GothamMedium';
  margin-top: 0px;
  color: black;
}

.white{
  color: white;
}

// ========= NAVBAR =====
.navbar-inverse .nav li a {
  color: white;
}
 // ================

body.home .btn{
    font-family: 'GothamMedium';
	display: inline-block;
	padding: 10px 12px;
	margin-bottom: 0;
	font-size: 24px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: $white;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: $green;
	background-image: -moz-linear-gradient(top, $green, $green);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($green), to($green));
	background-image: -webkit-linear-gradient(top, $green, $green);
	background-image: -o-linear-gradient(top, $green, $green);
	background-image: linear-gradient(to bottom, $green, $green);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$red', endColorstr='$red', GradientType=0);
	border: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
	width: 100% !important;
	height: 40px;
	text-shadow: none;
}

.green{ color: $green;}

//========
.video_block{
  color: white;
  width: 100%;
  position: relative;
  img.background{
    position: relative;
    top: 0;
    width: 100%
  }
  img.banner{
    position: fixed;
    @media(min-width: 980px){
     top: 40px;
    }
    width: 150px;
    z-index: 100;
    top: 0px;
  }
  .title{
    width: 70%;
    position: absolute;
    top: 25%;
    padding-left: 15%;

    img{
      height: 30%;
      float: left;
    }
  }
  .video_play{
    visibility: hidden;
    position: absolute;
    top: 60%;
    padding-left: 35%;
    font-size: 20pt;
    @media(min-width: 762px){
      font-size: 30pt;
    }

    font-family: 'GothamThin';
    img{
      width: 15%;
    }

  }
}

.why_block{
  width: 100%;
  padding-bottom: 75px;
  margin-top: 75px;
  img{
    margin-top: 40px;
    float: right;
    height: 350px;
  }
  .text{
    padding-top: 75px;
    padding-left: 10%;
    h2{
      .red{
        color: red;
        background-color: white;
      }
    }
    p{
      font-family: 'GothamThin';
      width: 90%; // Use 60% when the image is included
      font-size: large;
    }
  }
}

.how_block{
  width: 100%;
  background-image: url(image_path('home/home_how.png'));
  margin-top: 65px;
  #title_block{
    position: relative;
    top: -30px;
    margin: auto;
    padding-right: 40px;
    width: 175px;
    padding: 10px;
    background-color: $red;
    color: white;
    font-size: 24pt;
    text-align: center;
    font-family: 'GothamThin';
    img{
      float: right;
      height: 25px;
      padding-top: 5%;
    }
  }
  .description{
    .title{
      font-family: 'GothamMedium';
      text-align: center;
      font-size: 18pt;
      color: white;
    }
    .title_bar{
      margin: auto;
      width: 90px;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 3px;
      background-color: white;
    }
    p{
      font-family: 'GothamThin';
      color: white;
      text-align: center;
      font-size: 14px;
    }
  }
  img.background{
    position: relative;
    top: 0;
    width: 100%;
  }
  .features{
    margin-top: 40px;
    height: 200px;
    color: white;
    font-family: 'GothamThin';
    font-size: 18pt;
    img.left{
      @media(min-width: 762px){
        position: relative;
        top: 40%;
        height: 75px;
        width: auto;
      }
    }
    img.right{
      width: 250px;
      height: auto;
      padding-left: 30%;
      @media(min-width: 762px){
        float: right;
        padding-right: 20px;
      }
    }
    .text{
      padding-top: 50px;
    }
  }
}

.testimonial_block{
  .quotes{
    font-size: 80pt;
    float: left;
    margin-left: 5%;
  }
  p{
    color: $blue;
    font-size: 24px;
    font-family: 'GothamMedium';
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px;
  }
  .claimer{
    width: 20%;
    margin: auto;
  }
  padding-top: 75px;
}

.plans_block{
  margin-top: 75px;
  padding-bottom: 100px;
  background-image: url(image_path('home/home_plans.png'));
  background-color: lightgray;
  color: white;

  // Remove padding on container so everything is nice and tight
  .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    @media(max-width: 768px){
      height: 1800px;
      background-repeat: repeat-y;

    }
  }
  .info{
    padding-top: 75px;
    text-align: right;
    font-family: 'GothamMedium';
    font-size: 19pt;
    padding-right: 30px;
  }
  .prices{
    width: 100%;
    min-height: 300px;
    display: inline-block;
    background: black;
    text-align: center;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 4px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-color: #444444;
    img{
      visibility: hidden;
      float: left;
      height: 250px;
    }
    .price{
      padding-top: 75px;
      font-size: 60pt;
      @media (min-width: 768px){
        font-size: 75pt;
      }
      font-family: 'GothamThin';
      .period{
        font-size: 40px;
      }
    }
    p{
        font-size: 24px;
        padding-top: 50px;
      }
  }
  .sign_up {
    font-size: 19pt;
    img{
      padding-top: 50px;
      @media(min-width: 762px){
        padding-left: 20%;
      }
      width: 80%;
      height: auto;
    }
    @media(max-width: 768px){

      position: relative;
      top: 150px;
      margin: auto;

      .title{
        text-align: right;
        img{
          height: 80px;
          float: left;
          padding-left: 50px;
        }
        .small{
          font-size: 13pt;
        }
      }
      .cc{
        padding-top: 75px;
        .card_title{
          color: $red;
          font-size: 12pt;
        }
        input{
          background-color:rgba(0,0,0,0.3) !important;
          border:none !important;
        }
      }
    }
    @media (min-width: 768px){
    .cc{
        padding-top: 75px;
        @media(min-width: 983px){
          float: right;
        }
        .card_title{
          color: $red;
          text-align: right;
          width: 100%;
        }
        input{
          background-color:rgba(0,0,0,0.3) !important;
          border:none !important;
        }
        select.date-select {
          color: $grey;
          width: 200px;
        }
        select.subscription{
          width: 100%;
        }
      }
    }
  }
}
.bottom_block{
  background-color: white;
  font-family: 'GothamThin';
  p{
    padding-top: 35px;
  }
  .red_font{
    font-family: 'GothamMedium';
    color: $red;
    font-size: 30px;
  }
  .blog{
    padding: 40px;
    background-color: $red;
  }
  input{
    width: 80%;
    margin-top: 20%;
    background-color:rgba(0,0,0,0.3) !important;
    border:none !important;
  }
  .arrow{
    margin-top: 20%;
    font-family: 'GothamMedium';
	margin-bottom: 0;
	font-size: 24px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: $white;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: $grey;
	background-image: -moz-linear-gradient(top, $grey, $grey);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($grey), to($grey));
	background-image: -webkit-linear-gradient(top, $grey, $grey);
	background-image: -o-linear-gradient(top, $grey, $grey);
	background-image: linear-gradient(to bottom, $grey, $grey);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$red', endColorstr='$red', GradientType=0);
	border: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
	@media(max-width: 762px){
      height: 28px;
    }
    @media(min-width: 762px){
      height: 48px;
    }
	text-shadow: none;
  }
}
// =======

.raves_title{}

.image_box{
	float: left;
	margin-bottom: 15px;
	.image_title{
		text-transform: uppercase;
	}
}

.welcome{
	text-align: center;
	margin-bottom: 50px;
	p{
		margin-top: 30px; 
		letter-spacing:2px;
	}
}

.session_start{
	text-align: center;
	margin-bottom: 50px;
	h1{
		margin-bottom: 40px;
	}
	h4{
		font-size: 16px;
	}
}

.extra_options{
	width: 500px;
	margin: 0px auto;
	text-align: left;
	h3{
		font-family: GothamThin;
	}
	.bold{font-family: GothamMedium;}
}