// ============= COLORS =================

$red: rgb(199,70,61);
$blue: rgb(123,186,179);
$black: rgb(24,25,23);
$grey: rgb(50,52,51);
$lightGrey: #606060;
$white: #ffffff;

//@media (min-width: 768px) {
//  .navbar-center{
//    margin: 0 auto;
//    text-align: center;
//    display: inline-block;
//  }
//  .navbar-center img{
//    height: 35px;
//    padding: 7px;
//  }
//}
body.sessions, body.albums {
  @media(min-width: 980px){
    padding-top: 100px;
  }
}

.login_logo{
  text-align: center;
  padding-bottom: 30px;
}

.login_logo img{
  height: 70px;
}
/** override offset of container so grid is full width **/
/*.container{*/
    /*margin-right: 0;*/
    /*margin-left: 0;*/
/*}*/
.circle-container{
    text-align: center;
}

.circle{
	border-radius: 50%;
	width: 10px;
	height: 10px;
    display: inline-block;
}

.circle.active{
    background-color: $red;
}
.circle.non-active{
    background-color: white;
}

/** INPUT CHANGES **/
.big_input input.string.optional[type="text"] {
  border: 0px;
  height: 80px;
  min-width: 700px;
  line-height: 70px;
  font-size: 70px;
  background: #353535;
  color: $white;
}

.big_input input.string.optional[type="text"]:focus {
//border-color: rgba(126, 239, 104, 0.8);
box-shadow: 0 0 0 rgba(0, 0, 0, 0);
outline: 0 none;
background: $black;
}

/**
 * Grid container
 */
#tiles {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

/**
 * Grid items
 */
#tiles li {
  width: 200px;
  background-color: #ffffff;
  /*border: 1px solid #dedede;*/
          /*border-radius: 2px;*/
     /*-moz-border-radius: 2px;*/
  /*-webkit-border-radius: 2px;*/
  display: none; /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
  padding: 1px;
}

#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

#tiles li img {
  display: block;
}

/**
 * Grid item text
 */
#tiles li p {
  color: #666;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  font-weight: 200;
  margin: 7px 0 2px 7px;
}

footer {
  text-align: center;

}

footer a {
  color: #435DC5;
  text-decoration: none;
}

/**
 * Progress bar for imagesLoaded
 */
.progress-bar {
  background-color: #0BC20B;
  box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
  -webkit-transition: width 0.3s ease-out;
     -moz-transition: width 0.3s ease-out;
       -o-transition: width 0.3s ease-out;
          transition: width 0.3s ease-out;
}

/**
 * Placerholder css
 */
.wookmark-placeholder {
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}

.example-tiles {
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

.example-tiles li {
  display: block;
  opacity: 1;
  list-style-type: none;
  float: left;
  margin: 5px;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.example-tiles a,
.example-tiles a:hover {
  color: #555;
  background-color: #eee;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  padding: 5px 8px;
  border-radius: 3px;
}

.example-tiles a:hover {
  background-color: #ddd;
}
