// ============= COLORS =================

$red: rgb(199,70,61);
$blue: rgb(123,186,179);
$black: rgb(24,25,23);
$grey: rgb(50,52,51);
$lightGrey: #606060;
$white: #ffffff;

.sign_in_form{
	width: 400px;
	margin: 0px auto;
	.bmrng_sign_in{
		input[type="email"],input[type="password"]{
			background: #000;
			border: 0px solid #cccccc;
			-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
			-moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
			-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
			-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
			-o-transition: border linear 0.2s, box-shadow linear 0.2s;
			transition: border linear 0.2s, box-shadow linear 0.2s;
			border-radius:  0px;
			width: 395px;
			height: 50px;
			font-size: 20px;
			padding-bottom:0px;
			padding-left: 10px;
		}
	}
	.sign_up_form_links{
		text-align: right;
		a{color: $white;}
	}
}

// ============================= MANAGE PAGE ==============================

.manage_panel{
	.sessions_list{
		background: $grey;
		padding-top: 10px;
		position: absolute;
		top: 50px;
		left: -20px;
		height: 700px;
		overflow: auto;
		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
			li{
				a{
				color: $lightGrey;
				font-size: 17px;
				padding: 2px 0px 2px 20px;
				text-decoration: none;
				}
			}
			li:hover{
				background: $blue;
				color: $white;
				cursor: pointer;
			}
		}
	}

	.sessions_stats{
	position: absolute;
	left: 30%;
		h2{
			margin-bottom: 30px;
			font-family: "GothamThin";
			text-transform: uppercase;
			font-size: 28px;
		}
		.title_holder{
			width: 80%;
			text-align: left;
			border-bottom: 1px solid $grey;
			margin-bottom: 18px;
		}
		.title{
			color: $lightGrey;
			font-size: 20px;
		}
		.option_links{
			margin-top: 50px;
			text-align: right;
			h4{
				padding: 2px 0px 2px 0px;
			}
			h4:hover{
				background: $blue;
				cursor: pointer;
			}
		}
		.delete_btn{
			background: $red;
			color: $white;
			padding: 10px;
			text-align: center;
		}
		.delete_btn:hover{
			background: $grey;
			cursor: pointer;
		}
		a{
			text-decoration: none;
			color: $white;
		}
		.options_buttons{
			margin-top: 223px;
		}
	}

	.reports_list{
		position: absolute;
		right: 10px;
		text-align: right;
		height: 650px;
		overflow: auto;
		h3{
			color: $lightGrey;
			font-size: 30px;
		}
		ul{
			list-style-type: none;
			li{
				a{
				color: $lightGrey;
				font-size: 17px;
				padding: 2px 5px 2px 0px;
				text-decoration: none;
				}
			}
			li:hover{
				background: $grey;
				color: $white;
				cursor: pointer;
			}
		}
	}
}

// =============================== ANALYTICS PAGE ===============================

.analytics_panel{
	.title_holder{
		border-bottom: 1px solid $grey;
		text-align: center;
		color: $lightGrey;
		width: 90%;
		margin-bottom: 20px;
		.title{
			font-size: 30px;
		}
	}
	.red_hoop{
		margin: 0px auto;
		border: 5px solid $red;
		border-radius: 50%;
		height: 200px;
		width: 200px;
	}
	.blue_dot{
		width: 15px;
		height: 15px;
		background: $blue;
		border-radius: 50%;
	}
	ul{
		list-style: none;
		li{
			color: $lightGrey;
			font-size: 17px;
			padding: 2px 0px 2px 0px;
		}
		li:before{
			content: "  •  ";
			width: 15px;
			height: 15px;
			background: $blue;
			border-radius: 50%;
			color: $blue;
			margin-right: 5px;
		}
	}
}