<%= link_to image_tag(@album.user.logo.url(:thumb), class: 'nav_img'), @album.user.link, :target => "blank"%>
<span class="album_title">
  <%= @album.title %>
</span>

<span class="pull-right">
    <%= link_to image_tag('cloud.png', :width => "50") + " SAVE", save_guests_path(album_id: @album.id) %>
</span>