    <div class="container">

      <!-- Be sure to leave the brand out there if you want it shown -->
      <span class="brand">
        BOOMERANG | DASHBOARD
      </span>
      <li class="nav"><span class="badge red">5</span></li>

      <ul class="nav pull-right">
      <li class="nav_link_bot dark pull-right"><a data-toggle="modal" href="#support">SUPPORT</a></li>
        <li class="nav_link_bot dark pull-right"><a data-toggle="modal" href="#suggestions">SUGGEST</a></li>
      </ul>

    </div>