<%= link_to "BOOMERANG | DASHBOARD", root_path, :class => 'brand' %>
<ul class="nav pull-left">
  <!-- TODO: What the hell is this?? -->
  <li><span class="badge red">5</span></li>
</ul>
<div>
    <li class="nav_link_bot dark pull-right"><a data-toggle="modal" href="#support">SUPPORT</a></li>
    <li class="nav_link_bot dark pull-right"><a data-toggle="modal" href="#suggestions">SUGGEST</a></li>
</div>