<div class='row'>
    <div class="circle-container">
        <% for count in 1..number %>
            <div class="circle <% if active == count %>active<% else %>non-active<% end %>"></div>
        <% end %>
    </div>
</div>